body {
    font: normal 1rem Roboto, sans-serif;
    background-color: #e1e1e1;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #4b9cd3;
    box-shadow: 0px 3px 5px #151515;
    width: 100%;
    z-index: 1;
    border-top: 3px;
    border-top-color: #151515;
    border-top-style: solid;
}

/* Navbar links */
#navbar a {
    font-size: 1.25rem;
    float: left;
    display: flex;
    text-align: center;
    font-size: .8rem;
    padding: 14px;
    text-decoration: none;
}

.link {
    font: bold 1rem Roboto, sans-serif;
    color: #151515;
    border: 3px solid #4b9cd3;
}
.link.active {
    border-top-color: #151515;
}

.link:hover {
    border-color: #abd1ea;
    background-color: #abd1ea;
}


.logotext {
    border: 3px solid #4b9cd3;
    font: normal 1rem Roboto, sans-serif;
    padding-right: 4rem;
    color: #e1e1e1;
    background-color: #4b9cd3;
}

/* Page content */
.content {
    z-index: 0;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    background-color: #ffffff;
}

.banner {
    background-color: #4b9cd3;
    color: #e1e1e1;
    font: normal 4rem Roboto, sans-serif;
    align-content: middle;
}
.bannertext {
    text-align: center;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

#searchInput{
    width: 20%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-top: 12px;
    margin-bottom: 12px; /* Add some space below the input */
    margin-left: auto;
    margin-right: auto;
}


.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
