#table-div {
    z-index: -1;
}

table {
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
    width: 100%;
}

th, td {
    padding: .5rem;
    text-align: center;
}

th {
    background-color: #767676;
    color: #e1e1e1;
    height: 1rem;
    position: sticky;
    top: 40px;
}

td {
    color: #151515;
}

tr:nth-child(odd) {
    background-color: #e1e1e1;
}

tr:hover {
    background-color: #4b9cd3;
}

button {
	  background: none;
	  color: inherit;
	  border: none;
	  padding: 0;
	  font: inherit;
	  cursor: pointer;
	  outline: inherit;
}
